doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Levercost
    body 
        main.main 
            .main--greeting.greeting-parent
                .greeting-parent__header Увеличьте объем продаж вашего бизнеса с гарантией за результат
                .greeting-parent__subheader Разработка и внедрение скриптов продаж в формате - от гудка в трубке до заключения сделки
                .greeting-parent__row 
                    .greeting-parent__button Оставьте  заявку
                    .greeting-parent__caption на разработку речевого модуля прямо сейчас и вас лично проконсультирует лучший эксперт нашей компании.
                .greeting-parent__row 
                    .greeting-parent__price-header Стоимость аудита
                    .greeting-parent__price-value 5 000
                    .greeting-parent__price-updated бесплатно
                .greeting-parent__image 
                    img(src="./assets/images/content/main_bg.png", alt="")
            .main--results.results-parent 
                .results-parent__header Хороший менеджер может увеличить доход втрое. 
                .results-parent__subheader Плохой – теряет до 70% прибыли. Мы предлагаем решение, с которым даже новичок в вашей компании сможет продать всё что угодно.
                .results-parent__row 
                    .results-parent__result-container
                        .results-parent__image 
                            img(src="./assets/images/content/percentFirst.svg", alt="")
                        .results-parent__content средний рост выручки после внедрения скрипта
                    .results-parent__result-container
                        .results-parent__image 
                            img(src="./assets/images/content/percentSecond.svg", alt="")
                        .results-parent__content 
                            | положительных 
                            br
                            | отзывов
                    .results-parent__result-container
                        .results-parent__image
                            img(src="./assets/images/content/percentThird.svg", alt="") 
                        .results-parent__content оплачиваете уже после первых продаж
            .main--reasons.reasons-parent
                .reasons-parent__header 8 причин для обращения в нашу компанию
                .reasons-parent__container 
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit1.svg", alt="")
                        .reasons-parent__content Менеджеры плохо знают продукт
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit2.svg", alt="")
                        .reasons-parent__content Покупатели не возвращаются
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit3.svg", alt="")
                        .reasons-parent__content Менеджеры теряют инициативу при продаже
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit4.svg", alt="")
                        .reasons-parent__content Плохая презентация продукта
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit5.svg", alt="")
                        .reasons-parent__content Плохая отработка возражений
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit6.svg", alt="")
                        .reasons-parent__content Операторы не справляются с входящим потоком
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit7.svg", alt="")
                        .reasons-parent__content Отдел продаж работает не в полную силу
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/benefit8.svg", alt="")
                        .reasons-parent__content Менеджеры не дожимают клиентов
            .main--caption.caption-parent 
                .caption-parent__header 
                    | Если у вашего бизнеса есть хоть один из этих симптомов, 
                    br
                    | то мы сможем помочь.
                    br
                    | А значит, вы увеличите прибыль.
            .main--script.script-parent 
                .script-parent__header Давайте разбираться Что такое скрипт продаж  
                .script-parent__swiper-container   
                    .swiper.script-parent__swiper#scriptSwiper
                        .swiper-pagination
                        .swiper-wrapper 
                            .swiper-slide 
                                .script-parent__text 
                                    p Скрипт продаж — упорядоченный и визуально оформленный алгоритм общения по телефону или на встрече, цель которого помочь менеджеру довести клиента до сделки
                                    p Имейте ввиду  - это не единожды написанный и жестко зафиксированный документ, это живое описание реальной работы. Он должен постоянно меняться, потому что невозможно написать его раз и навсегда правильно. Пока по нему не начали действовать, вообще сложно представить эффективность его работы, поэтому он может быть только ориентиром.
                                .script-parent__image.small   
                                    img(src="./assets/images/content/slideImgae.png", alt="")
                            .swiper-slide 
                                .script-parent__text 
                                    p Ключевое преимущество, наши скрипты состоят из 15 этапов и 2-х звонков, а не из 5, стандартных (приветствие, диагностика, презентация, работа с возражениями, завершение разговора) 
                                    p Мы разрабатываем не просто скрипты - мы создаем концепцию на основе нелинейных алгоритмов. Исследования, построение модели продаж,  закалка в полях, подбор максимально эффективных речевых оборотов, учитываются все возможные варианты развития событий.  Под каждый блок несколько различных вариантов подачи материалов, в разы повышается конверсия так как менеджера подбирают под себя наиболее удобный вариант. 
                                .script-parent__image   
                                    img(src="./assets/images/content/nextSlide.svg", alt="")
                            .swiper-slide 
                                .script-parent__text 
                                    p Наш лучший опыт передается Вашим лучшим специалистам, опыт Ваших лучший специалистов передается Вашим стажерам. Стажеры в первые дни работы общаются как эксперты при этом закрывая сделки. 
                                    span Обучение и адаптация главная фишка, отстающие подтянутся к уровню лучших 
                                .script-parent__image.small     
                                    img(src="./assets/images/content/otherSlide.png", alt="")
            .main--ready.ready-parent
                .ready-parent__header Готовы увеличить продажи?
                .ready-parent__subheader Выберите один из пакетов
                .ready-parent__row 
                    .ready-parent__card 
                        .ready-parent__image 
                            img(src="./assets/images/content/ready1.png", alt="")
                        .ready-parent__value БАЗОВЫЙ
                        .ready-parent__description 
                            span Подойдет для небольших отделов продаж
                            span Разработка уникального скрипта
                            span Помощь в внедрении
                            span Итоговая оценка
                        .ready-parent__discount -10% СКИДКА
                        .ready-parent__button подробнее
                    .ready-parent__card 
                        .ready-parent__image 
                            img(src="./assets/images/content/ready2.png", alt="")
                        .ready-parent__value Продвинутый
                        .ready-parent__description
                            span Подойдет для отделов продаж с опытом
                            span Разработка трёх скриптов продаж
                            span Контроль качественного внедрения
                            span Итоговая оценка и дополнительная корректировка
                        .ready-parent__discount -10% СКИДКА
                        .ready-parent__button подробнее
                    .ready-parent__card 
                        .ready-parent__image 
                            img(src="./assets/images/content/ready3.png", alt="")
                        .ready-parent__value Профессиональный
                        .ready-parent__description 
                            span Подойдет для крупных отделов продаж
                            span Разработка неограниченного количества скриптов
                            span Полное внедрение “под ключ”
                            span Ведение отдела по гарантии в течение трёх месяцев
                        .ready-parent__discount -10% СКИДКА
                        .ready-parent__button подробнее
            .main--reasons.reasons-parent
                .reasons-parent__header Почему мы?
                .reasons-parent__container 
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why1.svg", alt="")
                        .reasons-parent__content 431
                        .reasons-parent__text успешный кейс
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why2.svg", alt="")
                        .reasons-parent__content 43%
                        .reasons-parent__text средний рост выручки наших клиентов
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why3.svg", alt="")
                        .reasons-parent__content 2 дня
                        .reasons-parent__text на адаптацию нового сотрудника
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why4.svg", alt="")
                        .reasons-parent__content Команда практиков
                        .reasons-parent__text мы ежедневно подготавливаем скрипты, тестируем в разных отраслях и назначениях
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why5.svg", alt="")
                        .reasons-parent__content Проводим инструктаж
                        .reasons-parent__text для Ваших менеджеров 
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why6.svg", alt="")
                        .reasons-parent__content Подготавливаем обучающий материал 
                        .reasons-parent__text срм системы, конструктор скриптов, бучающее видео
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why7.svg", alt="")
                        .reasons-parent__content Окупаемость
                        .reasons-parent__text в течение 3 месяцев
                    .reasons-parent__card 
                        .reasons-parent__image 
                            img(src="./assets/images/content/why8.svg", alt="")
                        .reasons-parent__content Гарантия результата
                        .reasons-parent__text или вернем деньги, прописываем в договоре
            .main--audio.audio-parent 
                .audio-parent__header примеры звонков
                .audio-parent__swiper-container 
                    .swiper.audio-parent__swiper#audioSwiper
                        .swiper-wrapper 
                            .swiper-slide 
                                .audio-parent__phone 
                                    img(src="./assets/images/content/phone.svg", alt="")
                                .audio-parent__subheader Наименование
                                .audio-parent__header торговая компания
                                .audio-parent__subheader Задача:
                                .audio-parent__header продать клиенту оборудование
                                .audio-parent__caption Прослушать разговор:
                                .audio-parent__audio 
                                    img(src="./assets/images/content/listen.svg", alt="")     
                            .swiper-slide 
                                .audio-parent__phone 
                                    img(src="./assets/images/content/phone.svg", alt="")
                                .audio-parent__subheader Наименование
                                .audio-parent__header торговая компания
                                .audio-parent__subheader Задача:
                                .audio-parent__header продать клиенту оборудование
                                .audio-parent__caption Прослушать разговор:
                                .audio-parent__audio 
                                    img(src="./assets/images/content/listen.svg", alt="")     
                            .swiper-slide 
                                .audio-parent__phone 
                                    img(src="./assets/images/content/phone.svg", alt="")
                                .audio-parent__subheader Наименование
                                .audio-parent__header торговая компания
                                .audio-parent__subheader Задача:
                                .audio-parent__header продать клиенту оборудование
                                .audio-parent__caption Прослушать разговор:
                                .audio-parent__audio 
                                    img(src="./assets/images/content/listen.svg", alt="")     

                        .swiper-buttons 
                            .swiper-button-prev-new
                            .swiper-button-next-new
            .main--roadmap.roadmap-parent
                .roadmap-parent__header дорожная карта
                .roadmap-parent__swiper-container
                    .swiper.roadmap-parent__swiper#roadmapSwiper
                        .swiper-wrapper 
                            .swiper-slide
                                img(src="./assets/images/content/road1.png", alt="")
                            .swiper-slide
                                img(src="./assets/images/content/road2.png", alt="")
                            .swiper-slide
                                img(src="./assets/images/content/road3.png", alt="")
                            .swiper-slide
                                img(src="./assets/images/content/road4.png", alt="")
                            .swiper-slide
                                img(src="./assets/images/content/road5.png", alt="")
                            .swiper-slide
                                img(src="./assets/images/content/road6.png", alt="")
                    .swiper-pagination-new
                    .swiper-buttons 
                        .swiper-button-prev
                        .swiper-button-next
            .main--partners.partners-parent
                .partners-parent__header Наши партнёры
                .partners-parent__image 
                    img(src="./assets/images/content/partners.png", alt="")
            .main--addons.addons-parent 
                .addons-parent__header дополнения к услуге
                .addons-parent__container 
                    .addons-parent__card 
                        .addons-parent__image 
                            img(src="./assets/images/content/add1.png", alt="")
                        .addons-parent__header Бесплатная настройка 
                        .addons-parent__subheader срм системы 
                        .addons-parent__icon 
                            img(src="./assets/images/content/addIcon1.svg", alt="")
                    .addons-parent__card 
                        .addons-parent__image 
                            img(src="./assets/images/content/add2.png", alt="")
                        .addons-parent__header Рекомендации
                        .addons-parent__subheader для улучшения общей модели продаж
                        .addons-parent__icon 
                            img(src="./assets/images/content/addIcon2.svg", alt="")
                    .addons-parent__card 
                        .addons-parent__image 
                            img(src="./assets/images/content/add3.png", alt="")
                        .addons-parent__header Аудит,
                        .addons-parent__subheader на основе него мы определяем нужен ли вам скрипт
                        .addons-parent__icon 
                            img(src="./assets/images/content/addIcon3.svg", alt="")
                    .addons-parent__card 
                        .addons-parent__image 
                            img(src="./assets/images/content/add4.png", alt="")
                        .addons-parent__header Чек лист 
                        .addons-parent__subheader для оценки работы ваших менеджеров 
                        .addons-parent__icon 
                            img(src="./assets/images/content/addIcon4.svg", alt="")
                    .addons-parent__card 
                        .addons-parent__image 
                            img(src="./assets/images/content/add5.png", alt="")
                        .addons-parent__header Система мотивации 
                        .addons-parent__icon 
                            img(src="./assets/images/content/addIcon5.svg", alt="")
            .main--form.form-parent 
                form.form-parent__form
                    .form-parent__header Опишите свою проблему и оставьте контакты 
                    .form-parent__header  мы свяжемся с Вами.
                    .form-parent__subheader С уважением, Генеральный директор Levercost Иванов Иван Иванович
                    input(type="text" placeholder="Введите имя").form-parent__input    
                    input(type="text" placeholder="Введите номер телефона").form-parent__input           
                    .form-parent__button Отправить
        script(src="./assets/js/jquery.min.js") 
        script(src="./assets/js/plugins.min.js") 
        script(src="./assets/js/main.min.js") 